{% extends 'events/base.html' %}
{% load events_tags %}
{% load events_filters %}
{% load crispy_forms_filters %}
{% load cloudinary %}


  {% block content %}
      <div class="card">
        <div class="card-body">
            <h3 class="card-text"><small>Organizer: {{ event.creator|capfirst }}</small></h3>
            <h1 class="card-text">{{ event.name }}</h1>
            <h3 class="card-text text-muted float-left">{{ event.date }}; </h3>

            <h3 class="card-text text-muted">{{ event.time }}</h3>
            <a class="btn btn-success btn active w-25" href="{% url 'events:attend_event' event.id %}">Attend</a>

        </div>
      </div>

      <div class="jumbotron w-75 mx-auto">
        <h1 class="display-4">Details</h1>
        <p class="lead">{{ event.details|safe }}</p>
      </div>


    <div class="mx-auto w-75">
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{ event.get_number_of_attendees }} Attending
            </a>

        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {% for attendee in attending %}
                    <p>{{ attendee.username|capfirst }}</p>

                {% endfor %}

            </div>
        </div>
    </div>



    <div>
        <h2 class="w-75 mx-auto">{{ event.get_comments_number }} Comments</h2>
      {% for comment in comments %}
          <div class="card w-75 mx-auto border-dark">
            <div class="card-body">
                <h4 class="card-text">{% cloudinary comment.get_comment_creator_photo width=45 height=45 radius='max' crop='fill' %}{{ comment.created_by }}</h4>
                <p class="card-text">{{ comment.comment }}</p>

            </div>
          </div>

      {%  endfor %}

    </div>

    <div>

    </div>

    <div class="mx-auto w-100">
      <form class="mx-auto w-50" method="post"> {% csrf_token %}
        {{ form|crispy }}
        <button class="mx-auto btn btn-primary btn-lg active w-25" type="submit">Add comment</button>
      </form>


    </div>

  {% endblock %}
