[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
"psycopg2" = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.5"
