certifi==2020.4.5.2
chardet==3.0.4
cloudinary==1.21.1
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.1
django-environ==0.4.5
django-filebrowser-no-grappelli==3.8.0
django-js-asset==1.2.2
djangorestframework
django-tinymce4-lite==1.8.0
djoser==2.0.3
drf-yasg==1.17.1
factory-boy==2.12.0
Faker==4.1.0
gunicorn==20.0.4
idna==2.9
jsmin==2.2.2
mock==4.0.2
pbr==5.4.5
Pillow==7.1.2
pipenv==2020.6.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycryptodomex==3.9.7
PyJWT==1.7.1
pytest==5.4.3
pytest-django==3.9.0
python-decouple==3.3
pytest-factoryboy==2.0.3
pytz==2020.1
requests==2.23.0
rest-framework-generic-relations==2.0.0
six==1.15.0
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.23
virtualenv-clone==0.5.4
whitenoise==5.1.0
