certifi==2018.4.16
dj-database-url==0.5.0
Django==2.0.4
django-crispy-forms==1.7.2
pipenv==11.10.0
psycopg2>=2.7,<2.8 --no-binary psycopg2
python-decouple==3.1
pytz==2018.4
toml==0.9.4
virtualenv==15.2.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
