<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% comment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap1.css' %}">
    <title>MeetHub</title>
</head>
<body>
    <div>
        <h1 class="w-50 mx-auto text-capitalize text-info">Welcome To MeetHub</h1>
    </div>
    {% block content %}

    {% endblock %}

</body>
</html>