{% extends "registration/base1.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="mx-auto w-50">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    <div class="mx-auto w-50">
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    </div>
{% endif %}

<form class="mx-auto w-50" method="post" action="{% url 'login' %}">
{% csrf_token %}
{% comment %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

{% endcomment %}
    {{ form|crispy }}

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="mx-auto w-50">
    <a class="waves-effect waves-light btn" href="{% url 'signup' %}">Signup</a>
</div>

{% comment %}


{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endcomment %}
{% endblock %}
</div>